{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card-content">
                <form action="/accounts/register/" method="POST">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <div class="form-group">
                        <input class="btn" style="background-color:#52A8A8;" type="submit" value="Sign Up">
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form>
                <p class="centefrom django_registration.backends.one_step.views import RegistrationViewr-align">Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}
